@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: #FAF7F2;
  color: #1A1A1A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
